@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'PT Serif';
    background: #f3f6ff;
    /* font-family: monospace; */
}

.main--page-block {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header-nav-block {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 9vh;
}

.header {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

header {
    width: 82%;
    height: 60px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    background: white;

    -webkit-box-shadow: 0px 10px 10px -7px #000000, 0px 5px 10px -6px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 10px -7px #000000, 0px 5px 10px -6px rgba(0, 0, 0, 0.1);
}

header .header-logo-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 46%;
    height: fit-content;
    justify-content: space-around;
}

header .header-logo-name img {
    width: 80px;
    height: 65px;
}

header .header-logo-name .header-name {
    width: 74%;
    font-size: 19px;
    font-weight: 700;
    line-height: 20px;
    color: #1c41b0;
    font-family: monospace;
}

.header-exit {
    display: flex;
    justify-content: flex-start;
    padding-top: 13px;
    width: 7%;
}

.header-exit img {
    width: 24px;
}

.lang-menu {
    display: flex;
    width: 32%;
    text-align: right;
    font-weight: bold;
    margin-top: 10px;
    position: relative;
    justify-content: flex-end;
}

.lang-menu .selected-lang {
    display: flex;
    justify-content: center;
    line-height: 2;
    cursor: pointer;
}

.lang-menu .selected-lang:before {
    content: '';
    display: block;
    margin-right: 10px;
    width: 32px;
    height: 32px;
    background-image: url(../../img/russian_flag.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.lang-menu ul {
    margin: 0;
    padding: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    position: absolute;
    top: 3%;
    right: 0px;
    width: 125px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}


.lang-menu ul li {
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.lang-menu ul li a {
    text-decoration: none;
    width: 125px;
    padding: 5px 10px;
    display: block;
}

.lang-menu ul li:hover {
    background-color: #f2f2f2;
}

.lang-menu ul li a:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.ru:before {
    background-image: url(../../img/russian_flag.png);
}

.en:before {
    background-image: url(../../img/us_flag.png);
}

.lang-menu:hover ul {
    display: block;
}

.navbar {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 18%;
    height: 95.8vh;
    background: #2857FE;
}

.user--info-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 96%;
    height: 23.5vh;
}

.user--info-block p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;

    color: #FFFFFF;
}

.avatar img {
    border-radius: 50%;
}

.navbar-title {
    display: flex;
    height: 14vh;
    align-items: flex-end;
    justify-content: center;
}

.navbar-title p {
    font-family: 'PT Serif';
    font-style: normal;
    font-size: 26px;
    line-height: 48px;

    color: #FFFFFF;
}

.navbar-navigate-block {
    display: flex;
    flex-direction: column;
}

.nav-home {
    text-decoration: none;
    font-family: 'PT Serif';
    font-style: normal;
    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF;

    background: url(../../img/personal_home.png) no-repeat center left 5px;
    background-size: 20px;
    padding-left: 30px;
    padding-top: 20px;
    margin-left: 20px;

    width: 100%;
    padding-bottom: 15px;
    border-bottom: 0.5px solid #FFFFFF;
}

.nav-adm1 {
    text-decoration: none;
    font-family: 'PT Serif';
    font-style: normal;
    font-size: 15px;
    line-height: 26px;
    cursor: pointer;
    color: #FFFFFF;

    background: url(../../img/personal_bumaga.png) no-repeat center left 5px;
    background-size: 15px;
    padding-left: 30px;
    padding-top: 20px;
    margin-left: 20px;

    width: 100%;
    padding-bottom: 15px;
    border-bottom: 0.5px solid #FFFFFF;
}

.nav-test {
    text-decoration: none;
    font-family: 'PT Serif';
    font-style: normal;
    font-size: 15px;
    line-height: 26px;
    cursor: pointer;
    color: #FFFFFF;

    background: url(../../img/personal_bumaga.png) no-repeat center left 5px;
    background-size: 15px;
    padding-left: 30px;
    padding-top: 20px;
    margin-left: 20px;

    width: 100%;
    padding-bottom: 15px;
    border-bottom: 0.5px solid #FFFFFF;
}

.nav-adm2 {
    text-decoration: none;
    font-family: 'PT Serif';
    font-style: normal;
    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF;

    background: url(../../img/personal_bumaga.png) no-repeat center left 5px;
    background-size: 15px;
    padding-left: 30px;
    padding-top: 20px;
    cursor: pointer;
    margin-left: 20px;

    width: 100%;
    padding-bottom: 15px;
    border-bottom: 0.5px solid #FFFFFF;
}

.nav-normatives {
    text-decoration: none;
    font-family: 'PT Serif';
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;

    background: url(../../img/personal_humans.png) no-repeat center left 5px;
    background-size: 18px;
    padding-left: 30px;
    padding-top: 20px;
    margin-left: 20px;

    width: 100%;
    padding-bottom: 15px;
    border-bottom: 0.5px solid #FFFFFF;
}

.nav-cont {
    text-decoration: none;
    font-family: 'PT Serif';
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;

    background: url(../../img/personal_humans.png) no-repeat bottom left 5px;
    background-size: 18px;
    padding-left: 30px;
    padding-top: 24px;
    margin-left: 20px;

}

.application-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 30vh;
    padding-left: 20%;
}

.application-top h1 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;

    color: #2857FE;
}

.application-top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 95%;
    height: 15vh;
    margin-top: 4%;
}

.application-top p {

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 37px;
    color: #FFFFFF;

    background: #2857FE;
    border-radius: 10px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.application-top p:hover {
    background: #6A8BFF;
    transition: 0.2s ease;
}


.application-list {
    display: flex;
    align-items: center;
    width: 95%;
    height: 40vh;
    margin-top: 50px;

    border-radius: 10px;
    background: #DDE4FF;
}

.application-list p {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;

    color: #2857FE;
    background: url(../../img/info_img.png) no-repeat center left 5px;
    background-size: 20px;
    padding-left: 30px;
    margin-left: 23px;
}

.online-application-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 82vh;
    padding-left: 20%;
}

.online-application-title {
    margin-top: 27px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 41px;

    color: #2857FE;
}

.online-application-stages {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 13.7vh;
    width: 96%;
    background: #2857FE;
    box-shadow: 0px 0px 15px rgba(40, 87, 254, 0.05);
    border-radius: 15px;
    margin-top: 20px;
}

.stage1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 27%;

    font-family: 'Ubuntu';
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}

.stage1 h6 {
    padding-top: 10px;
    height: 39px;
    width: 39px;
    text-align: center;

    border: 1px solid #FFFFFF;
    border-radius: 15px;
}

.stage1 p {
    margin-top: 10px;
}

.stage2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 27%;

    font-family: 'Ubuntu';
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;

    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    height: 14vh;
}

.stage2 h6 {
    padding-top: 10px;
    height: 39px;
    width: 39px;
    text-align: center;

    border: 1px solid #FFFFFF;
    border-radius: 15px;
}

.stage2 p {
    margin-top: 2px;
}

.stage3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 23%;

    font-family: 'Ubuntu';
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}

.stage3 h6 {
    padding-top: 10px;
    height: 39px;
    width: 39px;
    text-align: center;

    border: 1px solid #FFFFFF;
    border-radius: 15px;
}

.stage3 p {
    margin-top: 10px;
}

.online-info-block {
    display: flex;
    flex-direction: column;
    width: 96%;
    height: 37vh;

    margin-top: 15px;
    background: #FFFFFF;
    border-radius: 15px;
}

.first-point {
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 40%;
    margin-left: 4%;
    justify-content: flex-end;
    align-items: flex-start;
}


.first-point span {
    margin-top: 10px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 18px;

    color: #000000;
}

.first-point h6 {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    color: #000000;
}

.first-point b {
    color: red;
}

.second-point {
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 40%;
    margin-left: 4%;
    justify-content: flex-end;
    align-items: flex-start;
}

.second-point span {
    margin-top: 10px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 18px;

    color: #000000;
}

.second-point h6 {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    color: #000000;
}

.second-point b {
    color: red;
}

.third-point {
    display: flex;
    flex-direction: column;
    height: 7vh;
    width: 90%;
    margin-left: 4%;
    justify-content: flex-end;
    align-items: flex-start;
}

.third-point h6 {
    font-family: 'Ubuntu';
    font-size: 16px;
    line-height: 18px;

    color: #000000;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 4%;
    margin-top: 1%;
}

/* Скрыть флажок HTML по умолчанию */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Ползунок */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Закругленные ползунки */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.online-btn-block {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 94%;
    height: 10vh;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;

    color: #FFFFFF;
}

.online-back-btn {
    background: #FF3F3F;
    border-radius: 10px;
    padding: 11px 20px 11px 20px;
}

.online-back-btn:hover{
    background: #FF6161;
    transition: 0.2s ease ;
}

.online-furter-btn {
    background: #2857FE;
    border-radius: 10px;
    padding: 11px 20px 11px 20px;
}

.online-furter-btn:hover{
    background: #6A8BFF;
    transition: 0.2s ease;
}

.selection-contests-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 84vh;
    padding-left: 20%;
}

.contests-application-stages {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 13.7vh;
    width: 96%;
    background: #2857FE;
    box-shadow: 0px 0px 15px rgba(40, 87, 254, 0.05);
    border-radius: 15px;
    margin-top: 30px;
}

.con-stage1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    width: 27%;

    font-family: 'Ubuntu';
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;

    background: url(../../img/abiturientPageGalka.png) no-repeat center left 5px;
    background-size: 40px;
    padding-left: 30px;
    padding-top: 20px;
    margin-left: 20px;
}

.con-stage1 p {
    margin-bottom: 16px;
}

.contests-country-block {
    margin-top: 19px;
    display: flex;
    flex-direction: column;
    width: 96%;
    height: 20vh;

    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(40, 87, 254, 0.05);
    border-radius: 15px;
}

.contests-speciality-block {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    width: 96%;
    height: 28.6vh;

    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(40, 87, 254, 0.05);
    border-radius: 15px;
}

.contests-speciality-title-left {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 21vh;
    margin-left: 48px;
    justify-content: flex-end;
}

.contests-speciality-title-left h3 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;

    color: #5A5A5A;
}

.contests-speciality-title-left span {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    color: #5A5A5A;
    margin-bottom: 30px;
}

.contests-speciality-title-left p {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;

    color: #000000;

    background: url(../../img/users-contests-abiturient.png) no-repeat center left 5px;
    background-size: 15px;
    padding-left: 30px;
}

.contests-speciality-title-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 38%;
    height: 19vh;
    margin-left: 48px;
}

.contests-speciality-title-right p {
    width: 75px;
    height: 25px;
    text-align: center;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;
    background: #2857FE;
    border-radius: 10px;
    padding: 2px 5px 2px 7px;
    margin-bottom: 10%;
}

.switch1 {
    position: relative;
    display: inline-block;
    width: 51px;
    height: 27px;
    margin-left: 4%;
    margin-top: 1%;
}

/* Скрыть флажок HTML по умолчанию */
.switch1 input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Ползунок */
.sslider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.sslider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 1px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.sslider {
    background-color: #2196F3;
}

input:focus+.sslider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.sslider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Закругленные ползунки */
.sslider.round {
    border-radius: 34px;
}

.sslider.round:before {
    border-radius: 50%;
}

.contests-btn-block {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 94%;
    height: 10vh;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;

    color: #FFFFFF;
}

.contests-back-btn {
    background: #FF3F3F;
    border-radius: 10px;
    padding: 11px 20px 11px 20px;
}

.contests-back-btn:hover{
    background: #FF6161;
    transition: 0.2s ease ;
}

.contests-furter-btn {
    background: #2857FE;
    border-radius: 10px;
    padding: 11px 20px 11px 20px;
}

.contests-furter-btn:hover{
    background: #6A8BFF;
    transition: 0.2s ease;
}