@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    /* font-family: 'PT Serif'; */
    /* background: #bbbbbb; */
    font-family: monospace;
}

.main--page-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header {
    width: 100%;
    height: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

header {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    z-index: 100;
    background: white;

    width: 100%;
    height: 60px;
    box-shadow: 0 0 10px 0;
}

header .header-logo-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    height: fit-content;
    justify-content: space-around;
}

header .header-logo-name img {
    width: 65px;
    height: 50px;
}

header .header-logo-name .header-name {
    width: 69%;
    font-size: 19px;
    font-weight: 700;
    line-height: 20px;
    color: #1c41b0;
    font-family: monospace;
}

header .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 60%;
    height: fit-content;
}

header .navbar div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    width: fit-content;
}

header .navbar div p {
    font-family: 'PT Serif';
    font-size: 16px;
    font-weight: 700;
    cursor: context-menu;
    padding: 3px;
}

header .navbar div p:hover {
    color: #1c41b0;
}

header .navbar .navbar-univer-dropdown {
    display: none;

}

header .navbar .navbar-univer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header .navbar .navbar-univer:hover .navbar-univer-dropdown {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 24px;
    background: white;
    height: 28vh;
    width: 18%;
}

header .navbar .navbar-univer:hover .navbar-univer-text svg {
    transform: rotate(180deg);
    transition: .5s;
}

header .navbar .navbar-univer .navbar-univer-text svg {
    transition: .5s;
    margin-left: 5px;
}

header .navbar .navbar-univer .navbar-univer-dropdown div {
    width: 100%;
    height: 25%;
    transition: .2s;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

header .navbar .navbar-univer .navbar-univer-dropdown div:hover {
    background: #2857fe;
    transition: .2s;
}

header .navbar .navbar-univer .navbar-univer-dropdown div:hover a {
    color: white;
}

header .navbar .navbar-univer .navbar-univer-dropdown div a {
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 10px;

    font-size: 16px;
    font-weight: 400;
    font-family: 'PT Sans';
    color: #494848;
}

header .navbar .navbar-students {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header .navbar .navbar-students .navbar-students-dropdown {
    display: none;
}

header .navbar .navbar-students:hover>.navbar-students-dropdown {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 24px;
    background: white;
    height: 46vh;
    width: 18%;
    box-shadow: 5px;
}

header .navbar .navbar-students .navbar-students-dropdown div {
    width: 100%;
    height: 25%;
    transition: .2s;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

header .navbar .navbar-students .navbar-students-dropdown div:hover {
    background: #2857fe;
    transition: .2s;
}

header .navbar .navbar-students .navbar-students-dropdown div:hover a {
    color: white;
}

header .navbar .navbar-students .navbar-students-dropdown div a {
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 10px;

    font-size: 16px;
    font-weight: 400;
    font-family: 'PT Sans';
    color: #494848;
}

header .navbar .navbar-students:hover .navbar-students-text svg {
    transform: rotate(180deg);
    transition: .5s;
}

header .navbar .navbar-students .navbar-students-text svg {
    transition: .5s;
    margin-left: 5px;
}

header .navbar .navbar-abiturient {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

header .navbar .navbar-abiturient .navbar-abiturient-dropdown {
    display: none;
}

header .navbar .navbar-abiturient:hover .navbar-abiturient-dropdown {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 24px;
    background: white;
    height: 33vh;
    width: 22%;
    box-shadow: 5px;
}

header .navbar .navbar-abiturient .navbar-abiturient-dropdown div {
    width: 100%;
    height: 25%;
    transition: .2s;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

header .navbar .navbar-abiturient .navbar-abiturient-dropdown div:hover {
    background: #2857fe;
    transition: .2s;
}

header .navbar .navbar-abiturient .navbar-abiturient-dropdown div:hover a {
    color: white;
}

header .navbar .navbar-abiturient .navbar-abiturient-dropdown div a {
    text-align: left;
    text-decoration: none;
    width: 100%;
    height: 100%;

    font-size: 16px;
    font-weight: 400;
    font-family: 'PT Sans', sans-serif;
    color: #494848;

    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 10px;

    font-size: 16px;
    font-weight: 400;
    font-family: 'PT Sans';
    color: #494848;
}

header .navbar .navbar-abiturient:hover .navbar-abiturient-text svg {
    transform: rotate(180deg);
    transition: .5s;
}

header .navbar .navbar-abiturient .navbar-abiturient-text svg {
    transition: .5s;
    margin-left: 5px;
}

header .navbar .navbar-science:hover .navbar-science-text svg {
    transform: rotate(180deg);
    transition: .5s;
}

header .navbar .navbar-science .navbar-science-text svg {
    transition: .5s;
    margin-left: 5px;
}

header .logo {

    width: 3%;

    /* display: flex;
    flex-direction: row;
    align-items: center;
    width: 4%;
    justify-content: space-between; */
}

.nav{
    display: flex;
    justify-content: space-between;

    width: 30%;
    margin: 0 auto;
}

.lang-menu {
    width: 100px;
    text-align: right;
    font-weight: bold;
    margin-top: 10px;
    position: relative;
}
.lang-menu .selected-lang {
    display: flex;   
    justify-content: center;
    line-height: 2;
    cursor: pointer;
}
.lang-menu .selected-lang:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(../../img/us_flag.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.lang-menu ul {
    margin: 0;
    padding: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    position: absolute;
    top: 3%;
    right: 0px;
    width: 125px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}


.lang-menu ul li {
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.lang-menu ul li a {
    text-decoration: none;
    width: 125px;
    padding: 5px 10px;
    display: block;
}

.lang-menu ul li:hover {
    background-color: #f2f2f2;
}

.lang-menu ul li a:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.ru:before {
    background-image: url(../../img/russian_flag.png);
}

.en:before {
    background-image: url(../../img/us_flag.png);
}

.lang-menu:hover ul {
    display: block;
}

.window-second-slide {
    background-image: url(../../img/second-bg-img.png);
    background-repeat: no-repeat;

    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
}

.first-slide-block {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

}
.first-slide-btn-block a:hover{
 background-color: #1C41B0;
 color: white;
 transition: .3s;
}
.first-slide-btn {
    position: absolute;
    z-index: 5;
    left: 22%;
    top: 72%;

    box-shadow: 0px 8px 24px rgba(129, 135, 189, 0.15);
    padding: 2.5%;
    background: white;
    border-radius: 5px;

    text-decoration: none;
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 22px;

    color: #1C41B0;
}

.first-slide-btn2 {
    position: absolute;
    z-index: 5;
    left: 37.3%;
    top: 72%;

    box-shadow: 0px 8px 24px rgba(129, 135, 189, 0.15);
    padding: 2.5%;
    padding-left: 3%;
    padding-right: 3%;
    background: white;
    border-radius: 5px;

    text-decoration: none;
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 22px;

    color: #1C41B0;
}

.first-slide-btn3{
    position: absolute;
    z-index: 5;
    left: 51.6%;
    top: 72%;

    box-shadow: 0px 8px 24px rgba(129, 135, 189, 0.15);
    padding: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
    background: white;
    border-radius: 5px;
    
    text-decoration: none;
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 22px;

    color: #1C41B0;
}

.first-slide-btn4{
    position: absolute;
    z-index: 5;
    left: 68.7%;
    top: 72%;

    box-shadow: 0px 8px 24px rgba(129, 135, 189, 0.15);
    padding: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
    background: white;
    border-radius: 5px;

    text-decoration: none;
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 22px;

    color: #1C41B0;
}

.first-slide-block {
    display: flex;
    flex-direction: row;
    width: 100%;
    }
.window-second-slide .second-slide-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 91%;
    justify-content: space-evenly;

}

.window-second-slide .second-slide-content .title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 44%;
    height: 83vh;
}

.window-second-slide .second-slide-content .title-container h1 {
    font-size: 64px;
    font-weight: 700;
    color: #1c41b0;
    margin-top: 10%;
}

.window-second-slide .second-slide-content .title-container .title-block {
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    font-size: 15px;
}

.window-second-slide .second-slide-content .video-container {
    margin-top: 8%;
}

.window-second-slide .second-slide-content .video-container .video-png {
    position: absolute;
    margin-left: -25px;
    margin-top: -20px;
}

.window-third-slide{
    margin-top: 3%;
    width: 85%;
    height: 112vh;
    background-image: url('../../img/third-slide-bg.png');

    background-repeat: no-repeat;
    background-position: center center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.window-third-slide .title-block h1 {
    font-size: 36px;
    font-weight: 700;
    color: #1c41b0;
}

.window-third-slide .content-block1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 35%;
}

.window-third-slide .content-block1 .block1-desc {
    display: flex;
    height: 88%;
    width: 55%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.window-third-slide .content-block1 img,
.content-block2 img {
    height: 340px;
}

.window-third-slide .content-block2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 35%;

}

.window-third-slide .content-block2 .block2-desc {
    height: 88%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.window-third-slide .content-block1 .block1-desc p,
.content-block2 .block2-desc p {
    font-size: 16px;
    font-weight: 400;
    font: 'PT Serif';
}

.window-four-slide {
    background-image: url('../../img/four-slider-bg.png');

    width: 100%;
    height: 140vh;

    margin-top: 1%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.window-four-slide .four-slide-content {
    width: 86%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.window-four-slide .four-slide-content h1 {
    font-size: 36px;
    font-weight: 700;
    color: #1c41b0;
}

.window-four-slide .four-slide-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.window-four-slide .four-slide-content .content-block {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    align-content: space-around;
    height: 85%;
    width: 100%;

}

.window-four-slide .four-slide-content .content-block .block {
    width: 47%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.window-four-slide .four-slide-content .content-block .block img {
    color: red;
    margin-right: 7%;
    box-shadow: 10px 10px #1c41b0;
    border-radius: 10px;
}

.window-four-slide .four-slide-content .content-block .block .block-desc h1 {
    font-size: 28px;
    font-weight: 700;
    font-family: 'PT Serif';
    color: #1c41b0;

    padding-bottom: 15px;
}

.window-four-slide .four-slide-content .content-block .block .block-desc {
    display: flex;
    flex-direction: column;

    height: 32vh;
}

.window-four-slide .four-slide-content .content-block .block .block-desc p {
    font-size: 14px;
}

.window-fifth-slide{
    background-image: url('../../img/fifth-slide-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 68vh;

}
  
  .carousel img {
    display: block;
    height: 200px;
    margin: 10px 10px;
  }
  
  @media screen and ( min-width: 768px ) {
    .carousel img {
      height: 400px;
    }
}

.window-sixth-slide{
    width: 100%;
    height: 99vh;

    background-image: url('../../img/sixth-slide-bg.jpg');

    display: flex;
    flex-direction: column;
    align-items: center;
}
.window-sixth-slide .sixth-slide-content{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.window-sixth-slide .sixth-slide-content h1{
    font-size: 48px;
    font-weight: 700;
    padding: 2%;
    font-family: 'PT sans';
    letter-spacing: 2px;

}
.window-sixth-slide .sixth-slide-content .content-block{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-around;
    height: 100%;
    width: 100%;

}
.window-sixth-slide .sixth-slide-content .content-block .content-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    height: 90%;
    border-radius: 5px;

    background-color: #fff;
}
.window-sixth-slide .sixth-slide-content .content-block .content-card .img{
    width: min-content;
}
.window-sixth-slide .sixth-slide-content .content-block .content-card .img img{
    width: 370px;
}
.window-sixth-slide .sixth-slide-content .content-block .content-card .card-desc{
    width: 100%;
    height: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.window-sixth-slide .sixth-slide-content .content-block .content-card .card-desc div{
    width: 100%;
}
.window-sixth-slide .sixth-slide-content .content-block .content-card .card-desc div h3{
    padding: 3%;
    width: 71%;
    
    font-size: 18px;
    font-weight: 700;
    font-family: 'PT Serif';

    color: #fff;
    background-color: #1C41B0;
}
.window-sixth-slide .sixth-slide-content .content-block .content-card .card-desc p{
    font-family: 'PT Sans';
    font-size: 15px;
    /* height: 63%; */
    width: 55%;
    margin-left: 10px;
}
.window-sixth-slide .sixth-slide-content .content-block .content-card .card-end{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 16%;
    width: 100%;
    color: #1c41b0;

}
.window-sixth-slide .sixth-slide-content .content-block .content-card .card-end .card-left{
    width: 35%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.window-sixth-slide .sixth-slide-content .content-block .content-card .card-end .card-right{
    width: 35%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.window-sixth-slide .sixth-slide-content .content-block .content-card .card-end .card-right a {
    text-decoration: none;
    color: #1c41b0;

}


.window-seventh-slide{
    width: 88%;
    height: 65vh;
}
.window-seventh-slide img{
    width: 280px;
    height: 180px;
    border-radius: 10px;
}
.window-seventh-slide .seventh-slide-content{
    width: 100%;
    height: 95%;
    margin-top: 25px;
}
.window-seventh-slide .seventh-slide-content h1{
    font-size: 36px;
    font-weight: 700;
    font-family: 'Ubuntu';
}
.window-seventh-slide .seventh-slide-content .content-block{
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.window-seventh-slide .seventh-slide-content .content-block .content-card{
    width: 24%;
    height: 82%;
}

.window-seventh-slide .seventh-slide-content .content-block .content-card .card-end{
    width: 100%;
    height: 50%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.window-seventh-slide .seventh-slide-content .content-block .content-card .card-end .card-top{
    width: 100%;
    
    padding: 1%;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #bbb;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    justify-content: space-between;
    
    color: #1c41b0;
    font-size: 17px;
    font-family: 'PT Serif';
    font-weight: 700;
    height: 24%;
    
}
.window-seventh-slide .seventh-slide-content .content-block .content-card .card-end .card-bottom{
    width: 100%;
    height: 50%;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1%;
}
.window-seventh-slide .seventh-slide-content .content-block .content-card .card-end .card-bottom p{
    height: 70%;
    
    font-size: 16px;
    font-weight: 400;
    font-family: 'PT Sans';
}
.window-seventh-slide .seventh-slide-content .content-block .content-card .card-end .card-bottom a{
    text-decoration: none;
    color: #1c41b0;
    padding-top: 10px;
    font-size: 17px;
    font-weight: 400;
    font-family: 'PT Sans';
}

.eight-slideBG img {
    width: 100%;
    height: 100%;
}

.eight-slideLogo {
    position: absolute;
    z-index: 1;
    top: 670%;
    left: 60.5%;
}

.eight-slideLogo img {
    width: 30%;
    opacity: 70%;
}

.eight-slideTextLogo {
    position: absolute;
    z-index: 1;
    top: 662%;
    left: 55%;

}

.eight-slideTextLogo img {
    height: 100%;
    width: 100%;
}

.eight-slide-text {
    position: absolute;
    z-index: 2;
    top: 664%;
    left: 18%;
}

.eight-slide-text h2 {
    font-family: PT Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: left;
    color: white;

}

.eight-slide-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 36px;
    gap: 16px;
    
    position: absolute;
    width: 276px;
    height: 55px;
    left: 18%;
    top: 689%;
    
    background: #FFFFFF;
    border-radius: 10px;
}

.eight-slide-btn a {
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;

    color: #1C41B0;

}

.eight-slide-btn:hover{
    background-color: #1C41B0;
    color: white;
    transition: .3s;
}

footer{
    width: 100%;
    height: 46vh;
    background: #0f2149;
    color: #fff;
}
footer .footer-slide-content{
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: row;
    align-items: center;

}
footer .footer-slide-content .footer-left{
    width: 50%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer .footer-slide-content .footer-left .left-desc{
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
footer .footer-slide-content .footer-left .footer-watermark{
    width: 85%;
    margin-left: 50px;
    padding-top: 25px;
    border-top: .5px solid #bbb;
}

footer .footer-slide-content .footer-left .left-desc .left{
    width: 35%;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    font-family: 'PT sans';
}
footer .footer-slide-content .footer-left .left-desc .left .name{
    width: 85%;;
    
    padding-bottom: 15px;
    border-bottom: 1px solid #bbb;

}
footer .footer-slide-content .footer-left .left-desc .left .time-desc{
    padding-top: 8px;

    display: flex;
    flex-direction: row;
    align-items: center;

}
footer .footer-slide-content .footer-left .left-desc .left .time-desc svg{
    margin-right: 5px;

}
footer .footer-slide-content .footer-left .left-desc .left .time-days{
    padding: 10px 0;

}
footer .footer-slide-content .footer-left .left-desc .right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    line-height: 182%;
    font-family: 'PT Sans';
    font-size: 17px;
}
footer .footer-slide-content .footer-left .left-desc .right a{
    text-decoration: none;
    color: #fff;
    transition: .2;
}
footer .footer-slide-content .footer-left .left-desc .right a:hover{
    color: #1c41b0;
    transition: .2;
}
footer .footer-slide-content .footer-right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

footer .footer-slide-content .footer-right .footer-contacts{
    width: 48%;
    height: 90%;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

footer .footer-slide-content .footer-right .footer-contacts h1{
    width: 71%;

    font-size: 24px;
    font-weight: 700;
    border-bottom: 4px solid #dcbe76 ;
}

footer .footer-slide-content .footer-right .footer-contacts .address{
    width: 85%;
    height: 60%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    
}
footer .footer-slide-content .footer-right .footer-contacts .address p{
    padding: 4% 0;

    font-size: 16px;
    font-family: 'PT Sans';
}
footer .footer-slide-content .footer-right .footer-links{
    width: 43%;
    height: 83%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    margin: -1%;
}
footer .footer-slide-content .footer-right .footer-links h1{
    width: 90%;

    border-bottom: 4px solid #dcbe76;
}

footer .footer-slide-content .footer-right .footer-links .links{
    width: 75%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
footer .footer-slide-content .footer-right .footer-links .contact-us{
    width: 55%;
    height: 16%;

    border-radius: 30px;
    border: none;
    color: #fff;
    background: #1C41B0;
    transition: .2s;

    margin-left: 12%;
}
footer .footer-slide-content .footer-right .footer-links .contact-us:hover{
    background-color: #fff;
    color: #1c41b0;
    transition: .2s;
}