@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


* {
    margin: 0;
    padding: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    /* font-family: 'PT Serif'; */
    /* background: #bbbbbb; */
    font-family: monospace;
}

.main--page-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header {
    width: 100%;
    height: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

header {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    z-index: 100;
    background: white;

    width: 100%;
    height: 60px;
    box-shadow: 0 0 10px 0;
}

header .header-logo-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    height: fit-content;
    justify-content: space-around;
}

header .header-logo-name img {
    width: 65px;
    height: 50px;
}

header .header-logo-name .header-name {
    width: 69%;
    font-size: 19px;
    font-weight: 700;
    line-height: 20px;
    color: #1c41b0;
    font-family: monospace;
}

header .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 60%;
    height: fit-content;
}

header .navbar div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    width: fit-content;
}

header .navbar div p {
    font-family: 'PT Serif';
    font-size: 16px;
    font-weight: 700;
    cursor: context-menu;
    padding: 3px;
}

header .navbar div p:hover {
    color: #1c41b0;
}

header .navbar .navbar-univer-dropdown {
    display: none;

}

header .navbar .navbar-univer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header .navbar .navbar-univer:hover .navbar-univer-dropdown {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 24px;
    background: white;
    height: 28vh;
    width: 18%;
}

header .navbar .navbar-univer:hover .navbar-univer-text svg {
    transform: rotate(180deg);
    transition: .5s;
}

header .navbar .navbar-univer .navbar-univer-text svg {
    transition: .5s;
    margin-left: 5px;
}

header .navbar .navbar-univer .navbar-univer-dropdown div {
    width: 100%;
    height: 25%;
    transition: .2s;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

header .navbar .navbar-univer .navbar-univer-dropdown div:hover {
    background: #2857fe;
    transition: .2s;
}

header .navbar .navbar-univer .navbar-univer-dropdown div:hover a {
    color: white;
}

header .navbar .navbar-univer .navbar-univer-dropdown div a {
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 10px;

    font-size: 16px;
    font-weight: 400;
    font-family: 'PT Sans';
    color: #494848;
}

header .navbar .navbar-students {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header .navbar .navbar-students .navbar-students-dropdown {
    display: none;
}

header .navbar .navbar-students:hover>.navbar-students-dropdown {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 24px;
    background: white;
    height: 46vh;
    width: 18%;
    box-shadow: 5px;
}

header .navbar .navbar-students .navbar-students-dropdown div {
    width: 100%;
    height: 25%;
    transition: .2s;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

header .navbar .navbar-students .navbar-students-dropdown div:hover {
    background: #2857fe;
    transition: .2s;
}

header .navbar .navbar-students .navbar-students-dropdown div:hover a {
    color: white;
}

header .navbar .navbar-students .navbar-students-dropdown div a {
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 10px;

    font-size: 16px;
    font-weight: 400;
    font-family: 'PT Sans';
    color: #494848;
}

header .navbar .navbar-students:hover .navbar-students-text svg {
    transform: rotate(180deg);
    transition: .5s;
}

header .navbar .navbar-students .navbar-students-text svg {
    transition: .5s;
    margin-left: 5px;
}

header .navbar .navbar-abiturient {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

header .navbar .navbar-abiturient .navbar-abiturient-dropdown {
    display: none;
}

header .navbar .navbar-abiturient:hover .navbar-abiturient-dropdown {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 24px;
    background: white;
    height: 33vh;
    width: 22%;
    box-shadow: 5px;
}

header .navbar .navbar-abiturient .navbar-abiturient-dropdown div {
    width: 100%;
    height: 25%;
    transition: .2s;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

header .navbar .navbar-abiturient .navbar-abiturient-dropdown div:hover {
    background: #2857fe;
    transition: .2s;
}

header .navbar .navbar-abiturient .navbar-abiturient-dropdown div:hover a {
    color: white;
}

header .navbar .navbar-abiturient .navbar-abiturient-dropdown div a {
    text-align: left;
    text-decoration: none;
    width: 100%;
    height: 100%;

    font-size: 16px;
    font-weight: 400;
    font-family: 'PT Sans', sans-serif;
    color: #494848;

    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 10px;

    font-size: 16px;
    font-weight: 400;
    font-family: 'PT Sans';
    color: #494848;
}

header .navbar .navbar-abiturient:hover .navbar-abiturient-text svg {
    transform: rotate(180deg);
    transition: .5s;
}

header .navbar .navbar-abiturient .navbar-abiturient-text svg {
    transition: .5s;
    margin-left: 5px;
}

header .navbar .navbar-science:hover .navbar-science-text svg {
    transform: rotate(180deg);
    transition: .5s;
}

header .navbar .navbar-science .navbar-science-text svg {
    transition: .5s;
    margin-left: 5px;
}

header .logo {

    width: 3%;

    /* display: flex;
    flex-direction: row;
    align-items: center;
    width: 4%;
    justify-content: space-between; */
}

.nav {
    display: flex;
    justify-content: space-between;

    width: 30%;
    margin: 0 auto;
}

.lang-menu {
    width: 100px;
    text-align: right;
    font-weight: bold;
    margin-top: 10px;
    position: relative;
}

.lang-menu .selected-lang {
    display: flex;
    justify-content: center;
    line-height: 2;
    cursor: pointer;
}

.lang-menu .selected-lang:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(../../img/russian_flag.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.lang-menu ul {
    margin: 0;
    padding: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    position: absolute;
    top: 3%;
    right: 0px;
    width: 125px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}


.lang-menu ul li {
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.lang-menu ul li a {
    text-decoration: none;
    width: 125px;
    padding: 5px 10px;
    display: block;
}

.lang-menu ul li:hover {
    background-color: #f2f2f2;
}

.lang-menu ul li a:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.ru:before {
    background-image: url(../../img/russian_flag.png);
}

.en:before {
    background-image: url(../../img/us_flag.png);
}

.lang-menu:hover ul {
    display: block;
}

.window-second-slide {
    background-image: url(../../img/second-bg-img.png);
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
}

.first-slide-block {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

}

.first-slide-btn-block {
    width: 85%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: 70vh;

}

.first-slide-btn-block a {
    width: 16.5%;
    height: 15vh;
    border-radius: 5px;

    text-decoration: none;
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 22px;

    color: #1C41B0;
    background: white;
    box-shadow: 0px 8px 24px rgba(129, 135, 189, 0.15);


}

.first-slide-btn-block a:hover {
    background-color: #1C41B0;
    color: white;
    transition: .3s;
}

.first-slide-btn {
    padding: 3%;

}

.first-slide-btn2 {
    padding: 3%;
}

.first-slide-btn3 {
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;

}

.first-slide-btn4 {
    padding: 1.6%;
    padding-top: 2.5%;

}

.first-slide-block {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.window-second-slide .second-slide-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 91%;
    justify-content: space-evenly;

}

.window-second-slide .second-slide-content .title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 44%;
    height: 83vh;
}

.window-second-slide .second-slide-content .title-container h1 {
    font-size: 64px;
    font-weight: 700;
    color: #1c41b0;
    margin-top: 10%;
}

.window-second-slide .second-slide-content .title-container .title-block {
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    font-size: 14px;
}

.window-second-slide .second-slide-content .video-container {
    margin-top: 8%;
}

.window-second-slide .second-slide-content .video-container .video-png {
    position: absolute;
    margin-left: -25px;
    margin-top: -20px;
}

.window-third-slide {
    margin-top: 3%;
    width: 85%;
    height: 112vh;
    background-image: url('../../img/third-slide-bg.png');

    background-repeat: no-repeat;
    background-position: center center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.window-third-slide .title-block h1 {
    font-size: 39px;
    font-weight: 700;
    color: #1c41b0;
}

.window-third-slide .content-block1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 35%;
}

.window-third-slide .content-block1 .block1-desc {
    display: flex;
    height: 88%;
    width: 55%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.window-third-slide .content-block1 img,
.content-block2 img {
    height: 340px;
}

.window-third-slide .content-block2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 35%;

}

.window-third-slide .content-block2 .block2-desc {
    height: 88%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.window-third-slide .content-block1 .block1-desc p,
.content-block2 .block2-desc p {
    font-size: 16px;
    font-weight: 400;
    font: 'PT Serif';
}

.window-four-slide {
    background-image: url('../../img/four-slider-bg.png');

    width: 100%;
    height: 140vh;

    margin-top: 1%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.window-four-slide .four-slide-content {
    width: 86%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.window-four-slide .four-slide-content h1 {
    font-size: 36px;
    font-weight: 700;
    color: #1c41b0;
}

.window-four-slide .four-slide-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.window-four-slide .four-slide-content .content-block {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    align-content: space-around;
    height: 85%;
    width: 100%;

}

.window-four-slide .four-slide-content .content-block .block {
    width: 47%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.window-four-slide .four-slide-content .content-block .block img {
    color: red;
    margin-right: 7%;
    box-shadow: 10px 10px #1c41b0;
    border-radius: 10px;
}

.window-four-slide .four-slide-content .content-block .block .block-desc h1 {
    font-size: 28px;
    font-weight: 700;
    font-family: 'PT Serif';
    color: #1c41b0;

    padding-bottom: 15px;
}

.window-four-slide .four-slide-content .content-block .block .block-desc {
    display: flex;
    flex-direction: column;

    height: 32vh;
}

.window-four-slide .four-slide-content .content-block .block .block-desc p {
    font-size: 14px;
}

.window-fifth-slide {
    background-image: url('../../img/fifth-slide-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 68vh;

}

.carousel img {
    display: block;
    height: 200px;
    margin: 10px 10px;
}

@media screen and (min-width: 768px) {
    .carousel img {
        height: 400px;
    }
}

.window-sixth-slide {
    width: 100%;
    height: 99vh;

    background-image: url('../../img/sixth-slide-bg.jpg');

    display: flex;
    flex-direction: column;
    align-items: center;
}

.window-sixth-slide .sixth-slide-content {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.window-sixth-slide .sixth-slide-content h1 {
    font-size: 48px;
    font-weight: 700;
    padding: 2%;
    font-family: 'PT sans';
    letter-spacing: 2px;

}

.window-sixth-slide .sixth-slide-content .content-block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    height: 100%;
    width: 100%;

}

.window-sixth-slide .sixth-slide-content .content-block .content-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    height: 90%;
    border-radius: 5px;

    background-color: #fff;
}

.window-sixth-slide .sixth-slide-content .content-block .content-card .img {
    width: min-content;
}

.window-sixth-slide .sixth-slide-content .content-block .content-card .img img {
    width: 370px;
}

.window-sixth-slide .sixth-slide-content .content-block .content-card .card-desc {
    width: 100%;
    height: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.window-sixth-slide .sixth-slide-content .content-block .content-card .card-desc div {
    width: 100%;
}

.window-sixth-slide .sixth-slide-content .content-block .content-card .card-desc div h3 {
    padding: 3%;
    width: 71%;

    font-size: 18px;
    font-weight: 700;
    font-family: 'PT Serif';

    color: #fff;
    background-color: #1C41B0;
}

.window-sixth-slide .sixth-slide-content .content-block .content-card .card-desc p {
    font-family: 'PT Sans';
    font-size: 15px;
    /* height: 63%; */
    width: 55%;
    margin-left: 10px;
}

.window-sixth-slide .sixth-slide-content .content-block .content-card .card-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 16%;
    width: 100%;
    color: #1c41b0;

}

.window-sixth-slide .sixth-slide-content .content-block .content-card .card-end .card-left {
    width: 35%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.window-sixth-slide .sixth-slide-content .content-block .content-card .card-end .card-right {
    width: 35%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.window-sixth-slide .sixth-slide-content .content-block .content-card .card-end .card-right a {
    text-decoration: none;
    color: #1c41b0;

}

.eight-slideBG img {
    width: 100%;
    height: 100%;
}

.eight-slideLogo {
    position: absolute;
    z-index: 1;
    top: 610%;
    left: 60.5%;
}

.eight-slideLogo img {
    width: 30%;
    opacity: 70%;
}

.eight-slideTextLogo {
    position: absolute;
    z-index: 1;
    top: 600%;
    left: 55%;

}

.eight-slideTextLogo img {
    height: 100%;
    width: 100%;
}

.eight-slide-text {
    position: absolute;
    z-index: 2;
    top: 600%;
    left: 18%;
}

.eight-slide-text h2 {
    font-family: PT Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: left;
    color: white;

}

.eight-slide-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 36px;
    gap: 16px;
    
    position: absolute;
    width: 276px;
    height: 55px;
    left: 18%;
    top: 626%;
    
    background: #FFFFFF;
    border-radius: 10px;
}

.eight-slide-btn a {
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;

    color: #1C41B0;

}

.eight-slide-btn:hover{
    background-color: #1C41B0;
    color: white;
    transition: .3s;
}